section.about{
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*Sección Title*/
.about_me__content{
    height: 25%;
    background: var(--DarkGreen);
}

.title__div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 40%;
    align-items: center;
}

.profile__container{
    height: 100%;
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* TODO: ajustar lo del perfil y texto */
img.img-profile{
    content: image-set("../assets/img/profile-filter.jpg");
    max-height: 64%;
    max-width: 64%;
    /* border: rgba(137,138,166,1);
    border-top-left-radius: 0%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%; */
    border-radius: 50%;
    margin: 10px 0 10px 0;
    background: radial-gradient(circle, rgba(201,187,207,1) 11%, rgba(137,138,166,1) 38%);
}

.title__bio{
    font-size: 40px;
}

.title__subsection{
}
