@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

section.experience{
    height: 29%;
    padding-top: 2.5%;
    width: 100%;
}
.text_container {
    text-align: center;
}

.experience__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}



h1 {
    font-size: 150px;
    height: 100px;
    padding-bottom: 10px;
}
h2 {
    font-size: 20px;
}

.experience__box{
    width: 30%;
    height: 40%;
    padding: 1.5% 1.5% 1.5% 1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img__container{
    display: flex;
    justify-content: center;
    height: 60%;
    width: 90%;    
    
}

.experience__img{
    cursor: pointer;
    width: 40%;
    height: 100%;
    transition: 2s ;
}

img.img__rotate:hover{
    display: block;
    transform: scale(1.2);
    transition: all 0.3s linear;
}

.experience__info-container{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}   
