<section class="work">
    <div class="title__container">
        <h1 class="section__title">HOLA, SOY EDUARDO</h1>
        <h1 class="section__title">UN DESARROLLADOR</h1>
        <h2 class="section__title">Me apasiona crear experiencias que sean atractivas, accesibles y centradas en el usuario.</h2>
    </div>
    <div class="works__content" >
        <div class="work__box"*ngFor="let proyect of proyects">
            <div class="work_img__container">
            <img class="work__img img__rotate" src={{proyect.img}} (click)="openProyectModal(proyect)">
            </div>
            <div class="work__info-container">
                <h2 class="work__section__title">{{proyect.name}}</h2>
            </div>
        </div>  
    </div>
</section>