@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

section.work{
    
}

.works__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

h2 {
    font-size: 20px;
}

.work__box{
    width: 30%;
    height: 40%;
    padding: 1.5% 1.5% 1.5% 1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work_img__container{
    display: flex;
    justify-content: center;
    height: 60%;
    width: 90%;    
    
}

.work__img{
    cursor: pointer;
    width: 40%;
    height: 100%;
    transition: 2s ;
}

img.img__rotate:hover{
    display: block;
    transform: scale(1.2);
    transition: all 0.3s linear;
}

.work__info-container{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}   
