<!-- Sección del Menú  -->
<section class="menu">
  <!-- Sección del Header -->
  <header>
    <div>
      <mat-card class="fixed-header" [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky, 'menu_active': !menuActive}">
        <button mat-button class="menu-icon" (click)="onSidenavClick()">
          <div id="nav-icon3" [ngClass]="{'open': burgerActive}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>
        <div  class="menu__list-active" *ngIf="!menuUnactive">
          <div class="list" *ngIf="!menuUnactive">
            <li><a routerLink="/about" id="about" (click)="clickInSideNav($event)"><h2>About</h2></a></li>
            <li><a routerLink="/skills" id="skills" (click)="clickInSideNav($event)"><h2>Skills</h2></a></li>
            <li><a routerLink="/experiences" id="experiences" (click)="clickInSideNav($event)"><h2>Experience</h2></a></li>
          </div>
        </div>
      </mat-card>
    </div>
  </header>
</section>

<!-- <div class="background-circule"></div>
 -->

<div class="all_page">
  <div class="page_content">
    <div class="all_page_content">

      <!-- Sección del Title/Hero -->
    <app-about *ngIf="about">
      
      <!--     Sección de Formación académica -->
      <!-- <section class="academic" id="formacion">
        <div class="all_page_content">
          <h2 class="academic__title" >Formación académica</h2>
          <div class="academic__courses">
            <div class="academic__courses__box" *ngFor="let academic of academics">
              <img src="{{academic.img}}">
              <h4>{{academic.title}}</h4>
            </div>
          </div>
        </div>
      </section> -->
      <!-- Sección de Hobbies -->
      <app-hobbies *ngIf="about"></app-hobbies>
      
    </app-about>
      <!--  Sección de Skills -->
    <app-skills *ngIf="skills"></app-skills>
     
 
 
     
 
 
     <!-- Sección de Experiencia Profesional/Proyectos -->
     <app-works *ngIf="experiences"></app-works>
  </div>
  
 

    <!-- Sección de Footer -->
  <section class="footer ">
    <div class="all_page_content">

      <div class="footer__rodape">
        <p>Desarrollado por Eduardo Carrasco Romero</p>
        <p>2023</p>
      </div>
    </div>
  </section>
</div>

