<section class="skills" id="skills">
  <div class="title__container">
    <div>
      <h1 class="section__title ">Skills</h1>
    </div>  
  </div>
  <!-- <div class="all_page_content carrousel__container">
    <owl-carousel-o class="carrousel__content" [options]="customOptions">
      <ng-template carouselSlide *ngFor="let skill of skills">
        <div class="icon__container">
          <img class="icon" src="{{skill.src}}" alt="{{skill.name}}">
          <li class="icon-text">{{skill.name}}</li>
        </div>
      </ng-template>  
    </owl-carousel-o>
  </div> -->
</section>