
:root {
    --font: 'Black Ops One', cursive;
    --primary: #42E2B8;
    --gradient: linear-gradient(0deg, rgba(67,165,108,1) 0%, rgba(58,138,93,1) 5%, rgba(54,124,86,1) 12%, rgba(50,112,80,1) 21%, rgba(47,106,76,1) 49%, rgba(44,97,70,1) 70%, rgba(37,82,59,1) 85%);
    --black: black;
    --navi:rgb(0, 43, 91);
    --nav:rgba(50,112,80,1);
    --Lochmara: rgb(2 132 199);
    --Cerulean: rgb(14, 165, 233);
    --Malaquita: rgb(16, 185, 129);
    --Teal: rgb(67, 154, 151);
    --Mint: rgb(137, 199, 185);
    --LightMint: rgb(151, 222, 206);
    --midlelightGreenAndMint: rgb(174, 229, 209);
    --LightGreen: rgb(203, 237, 213);
    --DarkGreen: rgba(44,97,70,1);
    --white: white;

}

html, body { height: 100%; }
body { margin: 0; font-family: 400 21px/93px var(--font) }
body {
    box-sizing: border-box;
    color: var(--DarkGreen);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100%;
}

h1 {
    font-size: 130px !important;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    line-height: 70% !important;
}

.title__container {
    height: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    text-align: center;
}

.owl-carousel{
    height: 100%;
}

.owl-stage-outer{
    height: 80%;
}

.owl-nav{
    margin-top: 0!important;
}

.owl-dots{
    height: 20%;
}

.owl-item {
    display: flex;
    justify-content: center;
}

section div.owl-next, section div.owl-prev {
    background: rgba(212, 211, 211, 0.685)!important;
    color: #222!important;
    height: 32px;
    width: 26px;
    border-radius: 50%!important;
    position: absolute;
    top: 18%;
}

section .owl-next{
    right: -44px;
    transform: translate(-50%,-50%);
}

section .owl-prev{
    left: -3px;
    transform: translate(-50%,-50%);
}

section .owl-next span, section .owl-prev span{
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
}

section .owl-next span{
    transform: translate(-43%, -50%);
}

section .owl-prev span{
    transform: translate(-56%, -51%);
}

.mat-typography h3, p, h1, h2, h4{
    font-family: var(--font) !important;
    margin: 0 !important;
}

.button_containers{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mat-mdc-raised-button.mat-unthemed.mat-mdc-raised-button:not(:disabled){
    color: var(--white);
    background-color: var(--DarkGreen) !important;
}
