.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.text-content {
    height: 40%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 80px !important;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-container{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 24px 0 24px;
}

.utils {
    display: flex;
    flex-direction: row;
}

.carrousel {
    height: 40%;

}

.carrousel-content {
    height: 50%;
    max-height: 100% !important;
    width: 90%;
}

.modal-button {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 10%;
}

.icon__container img {
    aspect-ratio: 3/2;
    object-fit: contain;
}